@import "../../_globalColor";

.contact-div-main {
  display: flex;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-size: 65px;
  font-weight: 400;
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 4rem;
}

.contact-image-div > img {
  max-width: 100%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: -4rem;
}
.shiva {
  max-width: 300px;  /* Set a specific width */
  height: 100px;     /* Same as width to create a perfect circle */
  border-radius: 50%; /* This creates the circle shape */
  object-fit: cover;  /* This ensures the image covers the circle without distortion */
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  margin-left: 1.5rem;
  border: 3px solid #fff; /* Optional: adds a white border around the circle */
}
@media (max-width: 1380px), (max-width: 768px) {
  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  }
  .shiva {
    margin-left: 0;
    max-width: 250px;  /* Slightly smaller on mobile */
    height: 150px;     /* Keep height equal to width */
  }
  .contact-title {
    font-size: 40px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  .contact-image-div {
    display: flex;  /* Change from 'none' to 'flex' */
    justify-content: center;
    margin-top: 2rem;
  }
  .shiva {
    margin-left: 0;
    max-width: 80%;
  }
}
